/*
.page-loader-none + #page-loader {
  display: none;
}

.ng-app-workspace {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
}

app-layouts {
  width: 100%;
  height: 100%;
  display: block;
}*/
